
<div class="container">
  <h2><u>Login</u></h2>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
      <div class="signup-content">
          <!-- <div class="signup-img">
              <img src="assets/signup-img.jpg" alt="">
          </div>  -->
          <div class="Login-form">
              <form [formGroup]="LoginForm" >
                  <div class="form-row">
                      <div class="form-group">
                              <label>Email</label>
                              <input type="text" formControlName="email" />
                              <span *ngIf="LoginForm.get('email').hasError('required')">
                                  Email is required
                              </span>
                      </div>
                      <div class="form-group">
                              <label>Password</label>
                              <input type="password" formControlName="password"/>
                              <span *ngIf="LoginForm.get('password').hasError('required')">
                                 Password is required
                            </span>
                      </div>
                  </div>
                 
                  <div class="form-submit">
                      <input type="submit" value="Reset All" class="submit" name="reset" id="reset" />
                      <button type="submit" id="submit" class="submit" (click)="loginUser()"> Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<div>